.login-card,.SignUp {
    width: 40%;
    margin: auto;
    padding: 20px;
    margin-top: 10%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px; /* Optional: Rounded corners for a softer look */
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transform: scale(1);
    transition: transform 0.10s ease-in-out;

}
  .login-card:hover,.SignUp:hover{
    background-color: rgba(233, 237, 241, 0.533);
    transform: scale(1.003); 
  }